body { 
	margin: 0;
	padding: 0;
}
	
#canvas_container { 
	width: 1000px;
	height: 800px;
	margin: 0 auto;	
}
	
#main-canvas {	
	border: 1px solid black;
	margin: 0 auto;
}

#params {	
	position: absolute;
	width: 300px;
	padding-left: 10px;
	z-index: 999999;
}

#run_stop {
	width: 125px;
	float: right;
	text-align: right;				
}

#params, #run_stop {
	margin: 15px 0;
}

.control {
	margin-top: 10px;
	width: 300px;
}

.toggle {
	margin-top: 20px;
}

.control-input-cont {	
	float: right;	
}

.slider {
	display: inline-block;
	width: 50px;
	vertical-align: middle;
}

.control-input {
	width: 100px;
	border: 0;
	color: #f6931f;
	font-weight:bold;
	margin-left: 15px;
}
